.dash {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  // border: silver solid 1px;
}

.dashContent {
  border: #000000 1px;
  align-items: center;
  max-width: 22%;
  box-shadow: 1px 1px 1px 1px;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 1rem;
}

.bookFlex {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left: 5%;

  // border: silver solid 1px;
}

.books {
  border: #000000 1px;
  align-items: center;

  box-shadow: 1px 1px 1px 1px;
  margin-bottom: 2rem;
  width: 100%;
  height: 100%;
}

.images {
  height: 250px;
  width: 200px;
}
